body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
}
.container {
  width: 400px;
  background-color: #fff;
  color: #200828;
}

.App_header {
  color: #277bc0;
  text-align: center;
  font-size: 24px;
  padding: 24px 0 0;
}

footer {
  padding: 0 0 24px;
  display: flex;
  justify-content: space-evenly;
}

.config_box {
  border-radius: 5px;
  padding: 12px;
  background-color: #fff4cf;
  margin: 6px 12px;
  font-size: 12px;
  vertical-align: middle;

  .roomTitle {
    display: inline-block;
  }
  .roomInput {
    display: inline-block;
    width: 120px;
  }
  .config_title {
    color: #277bc0;
    font-weight: bold;
    font-size: 16px;
  }

  .config_checkbox {
    padding-left: 8px;
    display: inline-flex;
    align-items: center;
  }
  .config_spammingConfig {
    // display: inline-block;
    padding: 6px 0;
    .config_spammingConfig_title {
      font-size: 16px;
    }

    .config_spammingConfig_input {
      display: inline;
      width: 80px;
    }
  }
}

/* 


.config_input {
  padding-top: 6px;
}
.config_input__room,
.config_input__time {
  display: inline-block !important;
  width: 150px !important;
}
.btn_room {
  display: inline-block;
} */
